.row_posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}

/* Hide scrollbar (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox, IE) */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;     /* Firefox */
}